.carrito {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .itemcarrito {
    width: 700px;
    height: 250px;
    display: flex;
  
    align-items: center;
    box-shadow: 0px 3px 15px rgba(7, 71, 218, 0.6);
    border-radius: 25px;
    margin: 30px;
  }
  
  .itemcarrito img {
    width: 200px;
  }
  
   .descripcion {
    margin-left: 50px;
    width: 100%;
    font-size: 30px;
  }
  
  .infocontador input {
    width: 40px;
    text-align: center;
    font-weight: bolder;
  }
  
  .total button {
    width: 150px;
    height: 50px;
    background-color: rgb(19, 19, 19);
    color: white;
    border: none;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
  }
  .total p{
    font-size: 30px;
  }
  .subtotal {
  font-size: 25px;
  }
  